h {
  color: black;
}


.userInfo
{
    margin-top: 15%;
    margin-bottom: 15%;
    transform: translate(50%);
    color: white;
    
};

.information
{ 
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    
}
h4{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}


.cards
{
  margin-top: 15%;
  margin-left: 5%;
}

.MuiButtonBase-root
{
  padding-bottom: 6px;
}

