h1 {
  color: aliceblue;
}

.datePick
{
  margin-top: 150;
}

.inputs
{
  margin-bottom: 150;
}

thead
{
  color: white;
  border-bottom: 1px solid white;
}

h4{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: white;
  margin-left: 1%;
  margin-bottom: 1%;
}